<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="poolsTextFile" value="C:\Users\4210026\source\repos\ProcessChecker\mining-apps\xmr-stak\pools.txt"/>
    <add key="poolsValidTextFile" value="C:\Users\4210026\source\repos\ProcessChecker\mining-apps\xmr-stak\pools_valid_json.txt"/>
    <add key="ifRunningBatFile" value="c:\\mining\\ifRunning.bat"/>
    <add key="ifNotRunningBatFile" value="C:\\Program Files\\Notepad++\\notepad++.exe"/>
  </appSettings>
</configuration>